/* **************************************************************** */
/* Module:         css                                              */
/* Description:    CSS for resizable/custom width sheets            */
/* ================================================================ */
/* Date       Version  Author               Description             */
/* ---------- -------- -------------------- ----------------------- */
/* 2021-10-26 1.0.0    Ramses800            CSS created.            */
/* 2022-01-15 1.1.0    Ramses800            Updated .new-block      */
/* **************************************************************** */

/* ---------------------------------------------------------------- */
/* Only use this to set a fixed new width to an  Actor sheet        */
/* ---------------------------------------------------------------- */
.sandbox.sheet.actor{
  /* uncomment this to set a custom fixed width for actor sheet*/
	/* width:800px!important; */  
}


/* ----------------------------------------- */
/* General settings for sheets(actors/items) */
/* ----------------------------------------- */
.sandbox.sheet .new-block {
  padding: 0px 0px;
  width: 100%;
  max-width:100%;
  min-width: 100%;
  display: inline; /* 2022-01-15 Added this for multipanels row sequencing made by Sandbox*/
}
.sandbox.sheet .new-multiblock{    
  display: contents;    
}
/* ----------------------------------- */
/* Widths for panels, columns, dialogs */
/* ----------------------------------- */
.sandbox.sheet [class*="1-1"]{
	width:100%;
	max-width:100%;
	min-width:100%;
}
.sandbox.sheet [class*="1-2"]{
	width:50%;
	max-width:50%;
	min-width:50%;
}
.sandbox.sheet [class*="1-3"]{
	width:33.33%;
	max-width:33.33%;
	min-width:33.33%;
}
.sandbox.sheet [class*="1-4"]{
	width:25%;
	max-width:25%;
	min-width:25%;
}
.sandbox.sheet [class*="1-6"]{
	width:16.66%;
	max-width:16.66%;
	min-width:16.66%;
}
.sandbox.sheet [class*="1-8"]{
	width:12.5%;
	max-width:12.5%;
	min-width:12.5%;
}
.sandbox.sheet [class*="3-10"]{
	width:30%;
	max-width:30%;
	min-width:30%;
}
.sandbox.sheet [class*="1-16"]{
	width:6.25%;
	max-width:6.25%;
	min-width:6.25%;
}
.sandbox.sheet [class*="3-8"]{
	width:37.5%;
	max-width:37.5%;
	min-width:37.5%;
}
.sandbox.sheet [class*="5-8"]{
	width:62.5%;
	max-width:62.5%;
	min-width:62.5%;
}
.sandbox.sheet [class*="2-3"]{
	width:66.66%;
	max-width:66.66%;
	min-width:66.66%;
}
.sandbox.sheet [class*="3-4"]{
	width:75%;
	max-width:75%;
	min-width:75%;
}
.sandbox.sheet [class*="5-6"]{
	width:83.33%;
	max-width:83.33%;
	min-width:83.33%;
}





